body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.main-container {
    text-align: center;
    width: 90%;
}

.controls {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

select, input, button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 14px;
}

button {
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

#visualizer {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    min-height: 100px;
}

.bubble {
    width: 55px;
    height: 55px;
    border: 2px solid #1e293b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    transition: all 0.2s ease;
}

.active { border-color: #ef4444; background-color: #fee2e2; transform: scale(1.1); }
.sorted { border-color: #10b981; background-color: #d1fae5; }
